<div class="hb">
<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/news" class="hb">News</a></li>
  <li><a routerLink="/contact">Contact</a></li>
  <li><a routerLink="/about">About</a></li>
</ul>
</div>
<div class="home">
  <h1>Certificate Portal</h1>
 
 
    <div class="buttons">
     
      <a routerLink="/birth-certificate" class="button">Apply for Birth Certificate</a>
      <a routerLink="/death-certificate" class="button">Apply for Death Certificate</a>
      <a routerLink="/marriage-certificate" class="button">Apply for Marriage Certificate</a>
    </div>
  </div>